/* Mobile & Tablet */
@media (max-width: 1023px) {


    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__cart-heading {
        text-align: center;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile__cart-checkbox:checked~.header__cart-list {
        display: block;
    }

    .header__search-select-mobile:checked~.header__search-options {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

    .header__cart-list-item {
        max-height: 20vh;
    }

    .header__cart-list::after {
        display: none;
    }

    .header__cart-list {
        padding: 0 calc((100% - 644px) / 2);
    }

}

/* Mobile */
@media (max-width: 739px) {

    * {
        box-sizing: border-box;
    }

    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        position: relative;
        justify-content: space-between;
    }

    .header__cart {
        width: unset;
    }

    .header__cart-wrap {
        margin-top: 10px;
        padding: 0 3px;
    }

    .header__cart-list-item {
        max-height: 20vh;
    }

    .header__logo {
        width: unset;
    }

    .header__search {
        position: absolute;
        top: calc(var(--header-height) + 5px);
        left: 5px;
        right: 5px;
        z-index: 9;
        height: 34px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #e5e5e5;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }


    .header__search-btn {
        height: 32px;
        width: 54px;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
    }

    /* Pagination */

    .pagination-item {
        margin: 0 3px 0;
    }

    .pagination-item__link {
        --height: 28px;
        display: block;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 400;
        color: #939393;
        min-width: 36px;
        height: var(--height);
        line-height: var(--height);
        text-align: center;
        border-radius: 2px;

    }

    .app__content {
        margin: 0 4px;
    }

    .header__logo-img {
        position: fixed;
        width: 110px;
        top: 12px;
        left: 166px;
        right: 0;
        bottom: 0;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc((var(--header-height) + 5px) / 2 - 3px);
        }

        to {
            opacity: 1;
            top: calc(var(--header-height) + 5px);
        }
    }

    .footer-heading {
        padding: 0 16px;
    }

    .footer__dowload-qr-img {
        width: 60px;
        height: 60px;
        border: 1px solid var(--border-color);
    }

    .footer__dowload-app-img {
        height: 22px;
    }

    .footer__text-item {
        font-size: 1.6rem;
        padding: 0 10px;
        text-align: center;
    }

    .header__cart-notice {
        top: 0px;
        right: -6px;
    }

    .header__search-background {
        position: absolute;
        top: calc(var(--header-height));
        left: 0;
        right: 0;
        margin: 0 -14px;
        height: var(--header-sort-bar-height);
        background-color: #e5e5e5a8;
        z-index: 1;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

}

/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }

    .header__cart-wrap:hover .header__cart-list {
        display: block;
    }


    .header__search-select:hover .header__search-options {
        cursor: pointer;
        display: block;
    }
}